.container {

    .sitenav {

        width: 20%;
        position: fixed;
        top: 0;
        left: 0;

    } // end .container .sitenav

    .content {

        margin-left: 20%; 

    } // end .container .content

} // end .container
