<div class="message" *ngIf="message" [ngClass]="{'success' : !errors, 'error': errors}">
	<p>{{message}}</p>
</div> <!-- end .message -->

<section class="detail" *ngIf="!isEditing">

	<h1>{{post?.title}}</h1>

	<p>{{post?.body}}</p>

</section> <!-- end .detail -->

<div class="detail-actions">
	
	<a *ngIf="!isEditing" class="btn btn-reg" (click)="toggleEdit()">Editar</a>
	
	<a *ngIf="isEditing" class="btn btn-inv" (click)="toggleEdit()">Cancelar</a>
	
</div> <!-- end .detail-actions -->

<app-form (postData)="getPostDataFromForm($event)" [isEditing]="isEditing" [post]="post" *ngIf="isEditing"></app-form>